
- title = 'Change Password'
- subhead = 'Change your account login password.'
- button_legend = 'Submit'
- formtype = 'editpassword'
#account-form-container.container-440-left
    .detail-head
            .content #{title}
    include ../accountform

#removeAccount.container-440-left
    .detail-head
        .content Remove this account
    form()#remove-account-form.form-horizontal.well
        p#sub1
            strong This will destroy everything. There is no going back after this.
        p Consider contacting us to get a copy of your data before doing this.
            | After your account has been removed we will not be able to recover your data.
        fieldset
            .form-actions
                .form-action-right
                    #remove-account.g-button-red
                        i.icon-user
                        | Remove Account