- title = 'Edit Profile'
- subhead = 'Edit your account profile details.'
- button_legend = 'Submit'
- formtype = 'edit'
#account-form-container.container-440-left
    .detail-head
        .content #{title}
    include ../accountform

include ../avlogin