//
   Created with PyCharm.
   User: gumm
   Date: 2013/06/05
   Time: 12:51 PM
   To change this template use File | Settings | File Templates.

    extends layout

    block body
#hello.container-fluid
    block intro
    .row-fluid
        .span8
            block content
        .span3.offset1
            block syslog