extends fluidsplit83

block intro
    h1= title
    p.lead
        | Explorations in the world of NodeJs, WebSockets, MQTT.
    p
        | With guest appearances from Twitter Bootstrap, Google Closure,
        | Amazon EC2 and some shell scripting. Amazingly easy to set the whole
        | lot up. Oh, exploring Git and GitHub as well. And some Jade
        | templating, and some Express.

block content
    legend Subscribe
    form
        .input-append
            input#subscrIn(type="text", placeholder="Subscribe")
            button#subscrGo.btn(type="button") Go!

block bottomScripts
    script()
        bootstrap.setDefaults('#{wsServer}', '#{wsPort}');
        bootstrap.addApp('site');