extends layout

block head

block content
  h1= title
  p Welcome to #{title}
  .expr_group
      label Topic
      input#topic(type="text", placeholder="topic", name="topic")
      label Messsage
      textarea#payload(type="textarea", placeholder="payload", name="payload")
      br

      a#clickme.btn.btn-primary(type="", href="#")
        i.icon-fire.icon-white
        |  Submit
  .expr_group.expr_mar_top
      p#in_topic Waiting
      h2#in_payload No message


block bottomScripts
    script()
        bootstrap.setDefaults('#{wsServer}', '#{wsPort}');
        bootstrap.addApp('site');
