- button_legend = 'Create Orginization'
- formtype = 'create'

.container-900-center.row
    h2 Create an Orginization
    .org_progress.row.alert.alert-info
        .span2
            .icon-ok
            |   Create a personal account
        .span1
            .icon-arrow-right
        .span2.active Set up the orginzation
        .span1
                .icon-arrow-right
        .span2 Invite team members
    .span5
        include orgform

    .span4
        h4 Orginzation have their own billing
        p The credit card and plan you choose on this screen will be billed to
            | the organization — not your user account (*username here*). Receipts will be
            | sent to the billing email you enter for the organization.
        h4 Orginzation are managed by owners
        p On the next screen you’ll be able to grant administrative access
            | to other users. These people will be able to manage every
            | aspect of the organization (billing, repositories, teams, etc).
