- buttonLegend = 'Remove Orginization'

extends  ../delete_

block warningOne
    | Think carefully. This is irreversible

block warningTwo
    | This is extreamly important. Make sure you understand this: All your
    | stuff will be lost forever. Not even Jack Sparrow will be
    | able to find it again.

block warningThree
    | Deleting this company will also delete all the data from all the
    | appliances belonging to this company. none of these appliances will ever
    | be able to connect to us again. There is no turning back. Please review
    | the terms of service regarding account deletion.