- orgs = typeof(oList) != 'undefined' ? oList : []

    #orgContainer.container-440-center
        h3 Organizations
        if (orgs.length > 0)
            table#orgTable.table.table-striped.table-hover
                thead
                    tr
                        th No.
                        th Orginization Name
                tbody#orgBody
                    each org, index in orgs
                        tr(id= org._id)
                            td= index + 1
                            td= org.profile.orgName

            fieldset
                .form-actions(style="padding-left: 270px")
                    #create-org.g-button-submit
                        i.icon-group
                        | Create new organization

        else
            .form-horizontal.well
                p#sub1
                    strong You are not a member of any organization yet.
                fieldset
                    .form-actions(style="padding-left: 230px")
                        #create-org.g-button-submit
                            i.icon-group
                            | Create new organization
