button i {
  padding-left: 8px;
}

#get-credentials-form .g-button-submit,
#account-form .g-button-submit,
.topfixed button,
button#submit,
button#account-submit {
  margin-left: 10px;
}

#btn-logout {
  width: 120px;
  top: 1px;
  right: 8px;
  position: absolute;
}

#create-account,
#user_button {
  margin-left: 15px;
}