/*---------------------------------------------------------------[ Explore ]--*/
/*.layout-nest-header {*/
    /*z-index: 10;*/
/*}*/
.linklike {
    color: rgb(0, 136, 204);
    text-decoration: none;
    cursor: pointer;
}
.linklike:hover {
    color: rgb(0, 85, 128);
    text-decoration: underline;
}
.signup {
    color: rgb(133, 133, 133);
}
.signup button {
    margin-left: 10px;
    padding: 2px 20px;
}
.topfixed {
    position: relative;
    top: 18px;
    right: 18px;
    width: 190px;
    line-height: 34px;
    float: right;
}

.expr_wrapper {
    padding: 30px;
}

.layout-nest-header {
    background-color: rgb(241, 241, 241);
    border-bottom: 1px solid rgb(229, 229, 229);
}

.layout-nest-main {
    background-color: #FCFCFC;
}

.layout-nest-footer {
    background-color: #EEE;
    border-top: 1px solid #CCC;
}

#login-container {
  width: 260px;
  margin: 30px auto;
}

#login-container > input {
    width: calc(100% - 14px);
}

#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #create-account {
    float: right;
    margin-right: 13px;
}

#user_button {
    margin-right: 13px;
}

#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}
.form-actions {
    padding: 0;
    margin-bottom: 0;
}

#account-form-container {
  width: 460px;
  margin: 100px auto;
}

#country-list {
  width: 280px;
}

button#btn-login {
  width: 100px;
  padding: 6px 10px 6px 10px;
  float: left;
  margin-top: 15px;
}

button#submit,
button#account-submit {
    margin-left:10px;
}

#btn-logout {
  width: 120px;
  top: 1px;
  right: 8px;
  position: absolute;
}

#print {
  padding: 20px;
}

#four04 {
  padding: 20px;
}

.clear-fix {
  clear: both;
}

.well {
  margin-left: 0;
  border: 1px solid #ccc;
}

.form-horizontal .control-label {
  width: 80px;
}

.form-horizontal .controls {
  margin-left: 120px;
}

#lost-password-container {
    width: 400px;
    margin: 30px auto;
}

#get-credentials-form {

}

#get-credentials-form > input {
    width: calc(100% - 14px);
}

#get-credentials-form.form-horizontal .form-actions {
  padding: 17px 0 0 217px;
  margin-bottom: 0;
}

#get-credentials-form > .alert {
  margin-top: 7px;
}

.form-horizontal .form-actions {
  padding: 17px 0 0 255px;
}
label {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
button i {
  padding-left: 8px;
}

.pan-wrapper {
    height: 100%;
    overflow: auto;
}

.card {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 216, 216);
    border-bottom-width: 2px;
    border-top-width: 0;
    vertical-align: top;
}