/*---------------------------------------------------------------[ Explore ]--*/
input.error {
    border-color: rgb(233, 50, 45);
    -webkit-box-shadow: 0 0 6px rgb(248, 185, 183);
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px rgb(248, 185, 183);
    color: rgb(185, 74, 72);
}

.input-full-width {
    width: calc(100% - 15px);
}

.control-group .alert {
    margin-top:10px;
    margin-bottom: 0;
}

.layout-drag-handle {
    background-color: rgb(250, 250, 250) !important;
}
.linklike {
    color: rgb(0, 136, 204);
    text-decoration: none;
    cursor: pointer;
}
.linklike:hover {
    color: rgb(0, 85, 128);
    text-decoration: underline;
}
.signup {
    color: rgb(133, 133, 133);
    float: right;
}
.topfixed {
    position: relative;
    top: 33px;
    width: 260px;
    right: 18px;
    float: right;
}

.topfixed-left {
    position: relative;
    /*top: 18px;*/
    width: 160px;
    left: 18px;
    float: left;
}

#sysreadout {
    color: rgb(133, 133, 133);
    top: 7px;
    right: 20px;
    position: absolute;
}

.sysreadout .number {
    display: inline-block;
font-size: 12px;
font-weight: bold;
opacity: 1;
color: rgb(255, 255, 255);
}

.sysreadout .number {
    -webkit-border-radius: 3px;
border-radius: 3px;
-webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
transition: background-color .218s,border-color .218s,box-shadow .218s;
-webkit-user-select: none;
cursor: pointer;
height: 15px;
line-height: 15px;
margin-left: 8px;
outline: none;
width: auto;
background-image: none;
-webkit-appearance: none;
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
background-color: rgb(93, 126, 221);
border: none;
padding: 1px 5px 1px 5px;
}


.expr_wrapper {
    padding: 30px;
}
.layout-nest-header {
    background-color: rgb(66, 66, 66);
    border-bottom: 1px solid rgb(229, 229, 229);
}
.layout-nest-main {
    background-color: #FCFCFC;
}
.layout-nest-footer {
    background-color: #EEE;
    border-top: 1px solid #CCC;
}

/* Buttons and things created with bad.utils.getIconString have space between
 * the icon and the text.
 */
.goog-css3-button i[class^="icon-"], .goog-css3-button i[class*=" icon-"],
span i[class^="icon-"], span i[class*=" icon-"] {
    margin-right: 10px;
}


#login-container {
  width: 260px;
  margin: 30px auto;
}

#login-container > input {
    width: calc(100% - 14px);
}

#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #create-account {
    float: right;
    margin-right: 13px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}
.form-actions {
    padding: 0;
    margin-bottom: 0;
}

.container-440-center {
  width: 440px;
  margin: 30px auto 0 auto;
}

#account-form .control-label {
    width: 100px;
}

#country-list {
  width: 280px;
}

#print {
  padding: 20px;
}

#four04 {
  padding: 20px;
}

.clear-fix {
  clear: both;
}

.well {
  margin-left: 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.form-horizontal .control-label {
  width: 80px;
}
.form-horizontal .controls {
  margin-left: 120px;
}

#get-credentials-form > input {
    width: calc(100% - 14px);
}

#get-credentials-form.form-horizontal .form-actions {
  padding: 17px 0 0 217px;
  margin-bottom: 0;
}

#get-credentials-form > .alert {
  margin-top: 7px;
}

.container-440-center .form-actions {
  padding: 17px 0 0 262px;
}

label {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
.pan-wrapper {
    height: 100%;
    overflow: auto;
}