/*---------------------------------------------------------------[ Explore ]--*/
.linklike {
    font-size: 12px;
    color: rgb(0, 136, 204);
    text-decoration: none;
    cursor: pointer;
}
.linklike:hover {
    color: rgb(0, 85, 128);
    text-decoration: underline;
}
.expr_wrapper {
    padding: 30px;
}

.layout-nest-header {
    background-color: #1F1F1F;
}

.layout-nest-main {
    background-color: #FCFCFC;
}

.layout-nest-footer {
    background-color: #EEE;
    border-top: 1px solid #CCC;
}

#login-container {
  width: 340px;
  margin: 30px auto;
}

#login-container .checkbox {
  margin: 23px 0 0 180px;
}
#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #create-account {
  float: right;
  margin-right: 13px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}
.form-actions {
    padding: 0;
    margin-bottom: 0;
}

#account-form-container {
  width: 460px;
  margin: 100px auto;
}

#country-list {
  width: 280px;
}

button#btn-login {
  width: 100px;
  padding: 6px 10px 6px 10px;
  float: left;
  margin-top: 15px;
}

button#submit,
button#account-submit {
    margin-left:10px;
}

#btn-logout {
  width: 120px;
  top: 1px;
  right: 8px;
  position: absolute;
}

#print {
  padding: 20px;
}

#four04 {
  padding: 20px;
}

.clear-fix {
  clear: both;
}

.well {
  margin-left: 0;
  border: 1px solid #ccc;
}

.form-horizontal .control-label {
  width: 80px;
}

.form-horizontal .controls {
  margin-left: 120px;
}

#get-credentials-form.form-horizontal .form-actions {
  padding: 17px 0 0 220px;
  margin-bottom: 0px;
}

#get-credentials-form > .alert-error {
  margin-top: 7px;
}

.form-horizontal .form-actions {
  padding: 17px 0 0 238px;
}
label {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
button i {
  padding-left: 8px;
}