/*---------------------------------------------------------------[ Explore ]--*/
input.error {
    border-color: rgb(233, 50, 45);
-webkit-box-shadow: 0 0 6px rgb(248, 185, 183);
-moz-box-shadow: 0 0 6px #f8b9b7;
box-shadow: 0 0 6px rgb(248, 185, 183);
    color: rgb(185, 74, 72);
}
.layout-drag-handle {
    background-color: rgb(250, 250, 250) !important;
}
.linklike {
    color: rgb(0, 136, 204);
    text-decoration: none;
    cursor: pointer;
}
.linklike:hover {
    color: rgb(0, 85, 128);
    text-decoration: underline;
}
.signup {
    color: rgb(133, 133, 133);
    float: right;
}
.topfixed {
    position: relative;
    top: 18px;
    right: 18px;
    width: 260px;
    float: right;
}
.expr_wrapper {
    padding: 30px;
}
.layout-nest-header {
    background-color: rgb(66, 66, 66);
    border-bottom: 1px solid rgb(229, 229, 229);
}
.layout-nest-main {
    background-color: #FCFCFC;
}
.layout-nest-footer {
    background-color: #EEE;
    border-top: 1px solid #CCC;
}

/* Buttons and things created with bad.utils.getIconString have space between
 * the icon and the text.
 */
.goog-css3-button i[class^="icon-"], .goog-css3-button i[class*=" icon-"],
span i[class^="icon-"], span i[class*=" icon-"] {
    margin-right: 10px;
}


#login-container {
  width: 260px;
  margin: 30px auto;
}

#login-container > input {
    width: calc(100% - 14px);
}

#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #create-account {
    float: right;
    margin-right: 13px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}
.form-actions {
    padding: 0;
    margin-bottom: 0;
}

#account-form-container {
  width: 440px;
  margin: 100px auto;
}

#country-list {
  width: 280px;
}

#print {
  padding: 20px;
}

#four04 {
  padding: 20px;
}

.clear-fix {
  clear: both;
}

.well {
  margin-left: 0;
  border: 1px solid #ccc;
}

.form-horizontal .control-label {
  width: 80px;
}
.form-horizontal .controls {
  margin-left: 120px;
}
#lost-password-container {
    width: 400px;
    margin: 30px auto;
}
#get-credentials-form {

}
#get-credentials-form > input {
    width: calc(100% - 14px);
}

#get-credentials-form.form-horizontal .form-actions {
  padding: 17px 0 0 217px;
  margin-bottom: 0;
}

#get-credentials-form > .alert {
  margin-top: 7px;
}

#account-form .form-actions {
  padding: 17px 0 0 265px;
}

label {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
.pan-wrapper {
    height: 100%;
    overflow: auto;
}