- title = org.profile.orgName + ' - Edit Billing'
- subhead = 'Organisation Profile'
- button_legend = 'Submit'
- button_span = 322
- formtype = 'billing'

.container-440-center
    h2.icon-building
        span(style="margin-left: 20px") #{title}
    include ../orgform