- title = 'Sign Up'
- subhead = 'Please tell us a little about yourself.'
- button_legend = 'Sign Up'
- formtype = 'signup'
#account-form-container.container-440-center
    .detail-head
        .content #{title}
    include accountform