- buttonLegend = 'Remove Account'

extends ../delete_

block warningOne
    | Make sure you want to do this

block warningTwo
    | This is extreamly important. If you don't read this unexpected bad
    | things will almost certainly happen. Kittens may die!

block warningThree
    | Deleting your account will deleta all your data. There is no turning back.
    | Please review the terms of service regarding account deletion.