.layout-nest-header {
  background-color: #083E03;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.layout-nest-footer {
  background-color: #083E03;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#sysreadout,
.signup {
  color: rgb(34, 67, 10);
}

.numberreadout {
  background-color: rgb(83, 140, 17);
  border: none;
}

.detail-head .content {
  color: rgb(90, 158, 20);
}