.layout-nest-header {
  background-color: rgb(194, 90, 0);
  border-bottom: 1px solid rgb(229, 229, 229);
}

#sysreadout,
.signup {
  color: rgb(100, 46, 14);
}

.numberreadout {
  background-color: rgb(164, 82, 20);
  border: none;
}

.detail-head .content {
  color: rgb(194, 90, 0);
}