.layout-nest-header {
  background-color: #99480E;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.layout-nest-footer {
  background-color: #99480E;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#sysreadout,
.signup {
  color: rgb(100, 46, 14);
}

.numberreadout {
  background-color: rgb(164, 82, 20);
  border: none;
}

.detail-head .content {
  color: rgb(194, 90, 0);
}