.layout-nest-header {
    background-color: rgb(167, 9, 0);
    border-bottom: 1px solid rgb(229, 229, 229);
}

#sysreadout,
.signup {
    color: rgb(233, 132, 119);
}

.numberreadout {
background-color: rgb(75, 8, 0);
border: none;
}

.detail-head .content {
    color: rgb(167, 9, 0);
}

.well {
border: none;
background-color: transparent;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.flat-menu {
border-top: 6px solid rgb(167, 9, 0);
padding: 0;
}

