- profile = typeof(data) != 'undefined' ? data : { }

.row.expr_wrapper
    .span4
        h2 Hello #{profile.name}
        p
            | We are waiting for your devices to register to:
        // h4 @reg/#{account._id}
        p
            | To register your device needs to publish to the above topic, with a
            | PID (personal ID) of your choosing in the payload. We will then reply
            | with a device specific UID that your device will have to use as a
            | topic prefix for all further publishing. Our reply will be published to:
        // h4 @regok/#{account._id}/PID
        p
            | so your device can register to listen to that topic
        p
            | All further comms from your device will have to have the topic prefix
        // h4 #{account._id}/UID
