block content
    div.navbar.navbar-fixed-top
        div.container-fluid
            ul#global-nav.nav.pull-left
                #user_list.brand User List
            button#btn-logout.btn.btn-primary
                i.icon-lock.icon-white
                | Sign Out