doctype 5
html
    head
        title= title
        if cssIsCompiled
            link(rel='stylesheet', href = cssCompiled)
        else
            link(rel='stylesheet', href = cssBasic)
        link(id='pagestyle', rel='stylesheet', href ='css/themes/theme.css')
        block head

    body.expr_body
        #body-background
        #map
        block intro
        block content
        block bottomScripts