doctype 5
html
    head
        title= title
        if cssIsCompiled
            link(rel='stylesheet', href = cssCompiled)
        else
            link(rel='stylesheet', href = cssBasic)
        block head

    body.expr_body
        block intro
        block content
        block bottomScripts