
#login-container
    form()#login-form.well
        h4 Sign in

        // This is the username field
        label(for="user") Username
        input(type="text", name="user", id='user-tf', required).required

        // This is the password field
        label(for="pass") Password
        input(type="password", name="pass", id='pass-tf', required).required

        label(for="remember")#remember-me.checkbox Remember Me
                input(name="remember", type="checkbox", checked='checked')
        .form-actions
            .form-action-right
                #btn-login.g-button-submit
                    i.icon-signin.icon-large
                    | Sign In

    div.btm-links
        #forgot-password.linklike Forgot Your Password?