block content
    #lost-password-container.container-440-center
        h3 Retrieve Password
        form()#get-credentials-form.form-horizontal.well
            p Please enter the email address associated with your account
            input(type="email", name="email", id='email-tf', required).required
            .form-actions
                .form-action-right
                    #cancel Cancel
                    #submit.g-button-submit Submit