//#get-credentials.modal-single-input.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3 Retrieve Password
    div.modal-body
        form()#get-credentials-form.well.span5
            p Please enter the email address associated with your account
            input(type="text", name="email", id='email-tf').span5.required
            button(type="button")#cancel.btn Cancel
            button(type="button")#submit.btn.btn-primary Submit
            div.alert.alert-error.hide
            button(data-dismiss="alert").close
    div.modal-footer


block content
    #login-container
        h3 Retrieve Password
        form()#get-credentials-form.form-horizontal.well.span5
            p Please enter the email address associated with your account
            input(type="text", name="email", id='email-tf').span5.required
            div.alert.alert-error.hide
                strong Error!
                |  Please enter a valid email address
                button(type="button", data-dismiss="alert").close &times
            .form-actions
                button(type="button")#cancel.btn Cancel
                button(type="button")#submit.btn.btn-primary Submit